.cell {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  &:hover {
    background-color: rgb(189, 189, 189);
  }
  border: 1px solid #777
}

.open {
  background-color: rgb(122, 119, 119);
  color: #fff;
}
